streamlit
google-generativeai
python-dotenv
Pillow
PyPDF2
gTTS
charset-normalizer
pyttsx3
speechrecognition
fpdf
pydub
ffmpeg
edge_tts
PyAudio
openpyxl
streamlit-webrtc>=0.48.1
soundfile
twilio>=8.0.0
streamlit-audiorecorder
openai-whisper
ffmpeg-python
numpy
